@model IEnumerable<Genero>

<table class="table table-striped">

    <thead>
        <tr>
            <th> @Html.DisplayNameFor(x=>x.Nombre) </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>
                    <div class="container text-center">
                        <div class="row">
                            <a onclick="showModal('@Url.Action("AddOrEdit","Generos",new { Id = item.Id },Context.Request.Scheme)', 'Editar género')" class="btn btn-primary text-white mr-1">
                                <i class="fas fa-pencil-alt"></i> Editar
                            </a>
                            <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDelete(this)">
                                <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> Borrar</button>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
        }

    </tbody>

</table>